.root-class{
    width: 100%;
}
.grid-class{
    width:100%
}
.form-elements form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;

}
.form-label{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.form-elements{
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}
.button-class{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.address-class{
    display: flex;
    flex-direction: row;
    column-gap: 13px;
}
.form-label label{
    font-style: oblique;
    font-family: cursive;
}