.App {
  text-align: center;
}

.image-div{
  border: 20px solid white;
  width: fit-content;
  border-radius: 50%;
  position: absolute;
  top: 251px;
  left: 89px;
}

.profileImage-class{
  border-radius: 50%;
  
}
.landing-page{
  width: auto;
  height: auto;
  padding: 10px;
}
.landingPage-component{
  padding: 10px;
  height: 730px;
}
.paper-class{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 100%;
}
.paper-class-list{
  background-color: rgb(240, 240, 240) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
}
.second-grid{
  padding:15px;
}
.user-profile-class{
  display: flex;

}
.user-profile-class{
  height: 128px;
  width: 128px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.users-listing-class{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
  justify-content: center;
}
.Icon-nametag{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 18px;
}

.user-profile-class:hover{
  transform: scale(1.1); 
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.first-grid-ofsecond{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.paper-class-two{
  width:350px !important;
  margin-right: 26px;
  height: 600px;
}
.list-elements-sidenav{
  list-style-type: none;
  padding-left: 0px;
  width: 100%;
}
li:hover{
  background-color: blue;
  color: white;
  cursor: pointer;
}
.side-nav-list{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list-item{
 width:100%;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.user-image-class {
  border-radius: 50%;
  height: 100px;
  margin: 15px;
}
.grid-in-secondarygrid{

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: row;
  row-gap: 21px;

}
.review-text{
  font-family: cursive;
  font-style: italic;
  font-size: 13px;
}
.user-image-div{
  display: flex;
  height: 200px;
  background-color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.review-elements{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 45px;
  height: 126px;
  width: 75%;
}
.reviewer-name{
  font-size: 10px;
}
.display-image-div{
  width: 100%;
  height: 100%;
  position: relative;
}
.display-Image-class{
  height: -webkit-fill-available;
    width: -webkit-fill-available;
}

.display-image-div:hover > .display-image-edit-icon{
  visibility: visible;
}
.display-image-edit-icon{
  position: absolute;
  color: aliceblue;
  position: absolute;
  width: 78px;
  height: 26px;
  border: 2px solid white;
  border-radius: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 9px;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  visibility: hidden;
}
.edit-icon{
  font-size: 13px;
}